		<!--Breadcrumb-->
<partial name="_BreadCrumb"/>
<!--/Breadcrumb-->
<!--User Dashboard-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <partial name="_CompanyPanel" />
            <div class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Elanlarım</h3>
                    </div>
                    <div class="card-body">
                        <div class="ads-tabs">
                            <div class="tab-content">
                                <div class="tab-pane active table-responsive border-top userprof-tab" id="tab1">
                                    <table class="table table-bordered table-hover mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="w-100">Elanlar</th>
                                                <th>Ünvan</th>
                                                <th>Əmək haqqı</th>
                                                <th>status</th>
                                                <th>Əməliyyat</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Job item in ViewBag.Jobs)
                                            {
             
                                                <tr>
                                                    <td>
                                                    </td>
                                                    <td>
                                                        <div class="media mt-0 mb-0">
                                                            <div class="media-body">
                                                                <div class="card-item-desc p-0">
                                                                    <a href="#" class="text-dark"><h4 class="font-weight-semibold">@item.Title</h4></a>
                                                                    <a href="#"><i class="fa fa-clock-o w-4"></i> @item.CreatedAt.ToString("MMMMM-dd-yyyy , HH:mm")</a><br>
                                                                    <a href="#"><i class="fa fa-tag w-4"></i> @item.JobType</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fa fa-map-marker mr-1 text-muted"></i>@item.Company.Location</td>
                                                    <td class="font-weight-semibold fs-16">@item.MinSalary₼ - @item.MaxSalary₼</td>
                                                    <td>
                                                        @if (item.isActive == true)
                                                        {
                                                            <a href="#" class="badge badge-success">
                                                                Aktiv
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="badge badge-warning">
                                                                Passiv
                                                            </a>
                                                        }


                                                    </td>

                                                    <td>

                                                        <a class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-original-title="Redakət et" asp-controller="submitjob" asp-action="index" asp-route-jobid="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                                                        <a class="btn btn-info btn-sm text-white" data-toggle="tooltip" data-original-title="Statusu dəyiş" asp-controller="submitjob" asp-action="changestatus" asp-route-JobId="@item.Id"><i class="fas fa-exchange-alt"></i></a>
                                                        <a class="btn btn-primary btn-sm text-white" data-toggle="tooltip" data-original-title="Namizədləri gör" asp-controller="appliedcandidates" asp-action="index" asp-route-JobId="@item.Id">Namizədlər</a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--User Dashboard-->

@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();


}
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".changing").each((index, item) => {
                $(item).removeClass("active");
            })
            $("a[href$='/@controller']").addClass("active");
        });
    </script>
}