@model SearchViewModel
@inject IRelativeTime relativeTime
<!--Sliders Section-->
    <partial name="_SearchJob" />
<!--/Sliders Section-->
<!--Breadcrumb-->
<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">ana səhifə</a></li>
                <li class="breadcrumb-item active" aria-current="page">İşlərin siyahısı</li>
            </ol>
        </div>
    </div>
</div>
<!--/Breadcrumb-->
<!--Job listing-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <!--Job lists-->
                <div class=" mb-lg-0">
                    <div class="">
                        <div class="item2-gl">
                            <div class=" mb-0">
                                <div class="">
                                    <div class="p-2 bg-white item2-gl-nav d-flex">
                                        <h6> <b>@ViewBag.Jobs.Count</b> iş tapıldı</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab-11">
                                    <div class="card overflow-hidden br-0 overflow-hidden">
                                        <div class="d-md-flex">
                                            <div class="p-0 m-0 item-card9-img">
                                                <div class="item-card9-imgs">
                                                    <a href="jobs.html"></a>
                                                    <img src="../assets/images/products/logo/img1.jpg" alt="img" class="h-100">
                                                </div>
                                            </div>
                                            <div class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
                                                <div class="card-body pt-0 pt-md-5">
                                                    <div class="item-card9">
                                                        <a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold mt-1">HR Executive Jobs</h4></a>
                                                        <div class="mt-2 mb-2">
                                                            <a href="#" class="mr-4"><span><i class="fa fa-building-o text-muted mr-1"></i> Pro.Meet</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-map-marker text-muted mr-1"></i> Bromley</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa fa-usd text-muted mr-1"></i> 10,000 - 15,000</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-clock-o text-muted mr-1"></i> Full Time</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-briefcase text-muted mr-1"></i> 2 Yer Exp</span></a>
                                                        </div>
                                                        <p class="mb-0 leading-tight">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer pt-3 pb-3">
                                                    <div class="item-card9-footer d-flex">
                                                        <div class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">
                                                            <div>
                                                                <a href="profile.html" class="text-muted fs-12 mb-1">Posted by </a><span class="ml-1 fs-13"> Individual</span>
                                                                <small class="d-block text-default">18 Mar 2018, 12:15 AM</small>
                                                            </div>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="jobs.html" class="mr-3"><i class="fa fa-user text-muted mr-1"></i>HR/Admin</a>
                                                            <a href="jobs.html" class="mr-3"><i class="ion-checkmark-circled text-success mr-1"></i>Phone Verified</a>
                                                            <a href="jobs.html" class="btn btn-primary mt-3 mt-sm-0"> Apply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card overflow-hidden">
                                        <div class="d-md-flex">
                                            <div class="p-0 m-0 item-card9-img">
                                                <div class="item-card9-imgs">
                                                    <a href="jobs.html"></a>
                                                    <img src="../assets/images/products/logo/img2.jpg" alt="img" class="h-100">
                                                </div>
                                            </div>
                                            <div class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
                                                <div class="card-body pt-0 pt-md-5">
                                                    <div class="item-card9">
                                                        <a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold mt-1">Required Web Designer </h4></a>
                                                        <div class="mt-2 mb-2">
                                                            <a href="#" class="mr-4"><span><i class="fa fa-building-o text-muted mr-1"></i> Infratech Pvt Ltd </span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-map-marker text-muted mr-1"></i> Antegria</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa fa-usd text-muted mr-1"></i> 15,000 - 20,000</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-clock-o text-muted mr-1"></i> Full Time</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-briefcase text-muted mr-1"></i> 3 Yer Exp</span></a>
                                                        </div>
                                                        <p class="mb-0 leading-tight">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer pt-3 pb-3">
                                                    <div class="item-card9-footer d-flex">
                                                        <div class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">
                                                            <div>
                                                                <a href="profile.html" class="text-muted fs-12 mb-1">Posted by </a><span class="ml-1 fs-13"> Individual</span>
                                                                <small class="d-block text-default">19 Mar 2018, 12:15 AM</small>
                                                            </div>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="jobs.html" class="mr-3"><i class="fa fa-user text-muted mr-1"></i> Web Design</a>
                                                            <a href="jobs.html" class="mr-3"><i class="ion-checkmark-circled text-success mr-1"></i>Phone Verified</a>
                                                            <a href="jobs.html" class="btn btn-primary mt-3 mt-sm-0"> Apply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card overflow-hidden">
                                        <div class="d-md-flex">
                                            <div class="p-0 m-0 item-card9-img">
                                                <div class="item-card9-imgs">
                                                    <a href="jobs.html"></a>
                                                    <img src="../assets/images/products/logo/img3.jpg" alt="img" class="h-100">
                                                </div>
                                            </div>
                                            <div class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
                                                <div class="card-body pt-0 pt-md-5">
                                                    <div class="item-card9">
                                                        <a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold mt-1">Customer Care Jobs</h4></a>
                                                        <div class="mt-2 mb-2">
                                                            <a href="#" class="mr-4"><span><i class="fa fa-building-o text-muted mr-1"></i> Genius Technicals</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-map-marker text-muted mr-1"></i> Bartovia</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa fa-usd text-muted mr-1"></i> 10,000 - 15,000</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-clock-o text-muted mr-1"></i> Part Time</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-briefcase text-muted mr-1"></i> Fresher</span></a>
                                                        </div>
                                                        <p class="mb-0 leading-tight">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer pt-3 pb-3">
                                                    <div class="item-card9-footer d-flex">
                                                        <div class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">
                                                            <div>
                                                                <a href="profile.html" class="text-muted fs-12 mb-1">Posted by </a><span class="ml-1 fs-13"> Management</span>
                                                                <small class="d-block text-default">18 May 2018, 12:15 AM</small>
                                                            </div>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="jobs.html" class="mr-3"><i class="fa fa-user text-muted mr-1"></i>  BPO</a>
                                                            <a href="jobs.html" class="mr-3"><i class="ion-checkmark-circled text-success mr-1"></i>Phone Verified</a>
                                                            <a href="jobs.html" class="btn btn-primary mt-3 mt-sm-0"> Apply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card overflow-hidden">
                                        <div class="d-md-flex">
                                            <div class="p-0 m-0 item-card9-img">
                                                <div class="item-card9-imgs">
                                                    <a href="jobs.html"></a>
                                                    <img src="../assets/images/products/logo/img4.jpg" alt="img" class="h-100">
                                                </div>
                                            </div>
                                            <div class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
                                                <div class="card-body pt-0 pt-md-5">
                                                    <div class="item-card9">
                                                        <a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold mt-1">Accountant Jobs</h4></a>
                                                        <div class="mt-2 mb-2">
                                                            <a href="#" class="mr-4"><span><i class="fa fa-building-o text-muted mr-1"></i>  Hardware Solutions</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-map-marker text-muted mr-1"></i> Carpania</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa fa-usd text-muted mr-1"></i> 30,000 - 40,000</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-clock-o text-muted mr-1"></i> Full Time</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-briefcase text-muted mr-1"></i> 5 Yer Exp</span></a>
                                                        </div>
                                                        <p class="mb-0 leading-tight">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer pt-3 pb-3">
                                                    <div class="item-card9-footer d-flex">
                                                        <div class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">
                                                            <div>
                                                                <a href="profile.html" class="text-muted fs-12 mb-1">Posted by </a><span class="ml-1 fs-13"> Individual</span>
                                                                <small class="d-block text-default">20 Mar 2018, 10:15 AM</small>
                                                            </div>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="jobs.html" class="mr-3"><i class="fa fa-user text-muted mr-1"></i> Accounts</a>
                                                            <a href="jobs.html" class="mr-3"><i class="ion-checkmark-circled text-success mr-1"></i>Phone Verified</a>
                                                            <a href="jobs.html" class="btn btn-primary mt-3 mt-sm-0"> Apply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card overflow-hidden">
                                        <div class="d-md-flex">
                                            <div class="p-0 m-0 item-card9-img">
                                                <div class="item-card9-imgs">
                                                    <a href="jobs.html"></a>
                                                    <img src="../assets/images/products/logo/img5.jpg" alt="img" class="h-100">
                                                </div>
                                            </div>
                                            <div class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
                                                <div class="card-body pt-0 pt-md-5">
                                                    <div class="item-card9">
                                                        <a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold mt-1">Sales Executive Jobs</h4></a>
                                                        <div class="mt-2 mb-2">
                                                            <a href="#" class="mr-4"><span><i class="fa fa-building-o text-muted mr-1"></i> Flowtech Solutions</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-map-marker text-muted mr-1"></i> Deltora</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa fa-usd text-muted mr-1"></i> 10,000 - 15,000</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-clock-o text-muted mr-1"></i> Full Time</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-briefcase text-muted mr-1"></i> 1 Yer Exp</span></a>
                                                        </div>
                                                        <p class="mb-0 leading-tight">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer pt-3 pb-3">
                                                    <div class="item-card9-footer d-flex">
                                                        <div class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">
                                                            <div>
                                                                <a href="profile.html" class="text-muted fs-12 mb-1">Posted by </a><span class="ml-1 fs-13"> Individual</span>
                                                                <small class="d-block text-default">30 May 2018, 11:00 AM</small>
                                                            </div>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="jobs.html" class="mr-3"><i class="fa fa-user text-muted mr-1"></i> BPO</a>
                                                            <a href="jobs.html" class="mr-3"><i class="ion-checkmark-circled text-success mr-1"></i>Phone Verified</a>
                                                            <a href="jobs.html" class="btn btn-primary mt-3 mt-sm-0"> Apply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card overflow-hidden">
                                        <div class="d-md-flex">
                                            <div class="p-0 m-0 item-card9-img">
                                                <div class="item-card9-imgs">
                                                    <a href="jobs.html"></a>
                                                    <img src="../assets/images/products/logo/img6.jpg" alt="img" class="h-100">
                                                </div>
                                            </div>
                                            <div class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
                                                <div class="card-body pt-0 pt-md-5">
                                                    <div class="item-card9">
                                                        <a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold mt-1">Required Hard ware Engineer </h4></a>
                                                        <div class="mt-2 mb-2">
                                                            <a href="#" class="mr-4"><span><i class="fa fa-building-o text-muted mr-1"></i>  Hardware Solutions</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-map-marker text-muted mr-1"></i> Estoccia</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa fa-usd text-muted mr-1"></i> 20,000 - 30,000</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-clock-o text-muted mr-1"></i> Full Time</span></a>
                                                            <a href="#" class="mr-4"><span><i class="fa fa-briefcase text-muted mr-1"></i> 3 Yer Exp</span></a>
                                                        </div>
                                                        <p class="mb-0 leading-tight">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                                    </div>
                                                </div>
                                                <div class="card-footer pt-3 pb-3">
                                                    <div class="item-card9-footer d-flex">
                                                        <div class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">
                                                            <div>
                                                                <a href="profile.html" class="text-muted fs-12 mb-1">Posted by </a><span class="ml-1 fs-13"> HR</span>
                                                                <small class="d-block text-default">11 Jun 2018, 10:15 AM</small>
                                                            </div>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <a href="jobs.html" class="mr-3"><i class="fa fa-user text-muted mr-1"></i> IT Hardware</a>
                                                            <a href="jobs.html" class="mr-3"><i class="ion-checkmark-circled text-success mr-1"></i>Phone Verified</a>
                                                            <a href="jobs.html" class="btn btn-primary mt-3 mt-sm-0"> Apply Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="tab-12">
                                    <div class="row">
                                        @foreach (Job item in ViewBag.Jobs)
                                        {
                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xl-3">
                                                <div class="card overflow-hidden">
                                                    <div class="item-card9-img border-bottom">
                                                        <div class="item-card9-imgs">
                                                            <a asp-controller="jobdetails" asp-action="index" asp-route-JobId="@item.Id"></a>
                                                            <img src="~/images/@item.Company.Photo" alt="img" class="h-100">
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="item-card9">
                                                            <a asp-controller="jobdetails" asp-action="index" asp-route-JobId="@item.Id" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1 mb-2 text-center">@item.Title</h4></a>
                                                            <ul class="icon-card mb-0 mt-1">
                                                                <li class="mb-0 "><a asp-controller="jobdetails" asp-action="index" asp-route-JobId="@item.Id" class="icons"><i class="fas fa-building text-muted mr-1"></i>@relativeTime.Time(item.CreatedAt) </a></li>
                                                                <li class="mb-0"><a asp-controller="jobdetails" asp-action="index" asp-route-JobId="@item.Id" class="icons"><i class="fa fa-map-marker text-muted mr-1"></i> @item.Address</a></li>
                                                                <li class="mb-0 "><a asp-controller="jobdetails" asp-action="index" asp-route-JobId="@item.Id" class="icons"><i class="text-muted mr-1">₼</i>@item.MinSalary-@item.MaxSalary</a></li>
                                                                <li class="mb-0"><a asp-controller="jobdetails" asp-action="index" asp-route-JobId="@item.Id" class="icons"><i class="fas fa-clock text-muted mr-1"></i>@item.JobType</a></li>
                                                            </ul>
                                                            <p class="mb-0 mt-2 text-center">@relativeTime.Time(item.CreatedAt) @item.Company.Name tərəfindən elan edilmişdir</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer pt-3 pb-3">
                                                        <div class="item-card9-footer d-flex">
                                                            <div class="btn-block">
                                                                <a asp-controller="jobdetails" asp-action="index" asp-route-JobId="@item.Id" class="btn btn-block btn-primary">Detalları gör</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Job lists-->
            </div>
        </div>
    </div>
</section>
<!--/Job Listings-->

