<!--BreadCrumb-->
<partial name="_BreadCrumb"/>
<!--BreadCrumb-->
<!--Job listing-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card item2-gl ">
                    <div class=" mb-0">
                        <div class="">
                            <div class="p-3 bg-white item2-gl-nav d-flex">
                                <h6 class="mb-0 ">Elan üçün <b>@ViewBag.Applies.Count</b>dəfə müraciət olunmuşdur</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Job lists-->
                @foreach (ApplyViewModel item in ViewBag.Applies)
                {
                    <div class="card card-listing overflow-hidden">
                        <div class="card-header pt-5 pb-4">
                            <div class="d-flex">
                                @if (item.Candidate.Photo != string.Empty)
                                {
                                    <span class="avatar avatar-md  d-block brround cover-image mr-4" data-image-src="../images/@item.Candidate.Photo"></span>
                                }
                                else
                                {
                                    <span class="avatar avatar-md  d-block brround cover-image mr-4" data-image-src="../images/service_default_avatar_182956.png"></span>
                                }
                                <div>
                                    <a  class="font-weight-semibold fs-18 text-body">@item.Candidate.Name @item.Candidate.Lastname</a><br>
                                </div>
                            </div>

                        </div>
                        <div class="hide-details">
                            <div class="p-5">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12">
                                        <div class="table-responsive d-flex">
                                            <table class="table row table-borderless w-100 m-0 text-nowrap d-flex col-lg-8">
                                                <tbody class="col-lg-6 col-xl-6 p-0">
                                                    <tr>
                                                        <td class="w-150"><span class="font-weight-semibold">Sənəti</span></td>
                                                        <td><span>:</span></td>
                                                        <td><span>@item.Candidate.Profession</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w-150"><span class="font-weight-semibold">Təcrübə</span></td>
                                                        <td><span>:</span></td>
                                                        <td><span>@item.Candidate.ExperienceTime il</span></td>
                                                    </tr>
                                                    <tr>
                                                        
                                                    </tr>
                                                    <tr class="pt-2">
                                                        <td class="w-150"><span class="font-weight-semibold">Təhsilləri</span></td>
                                                        <td><span>:</span></td>
                                                        <td class="d-flex flex-wrap">
                                                            @foreach (var edu in @item.Candidate.Educations)
                                                            {
                                                                <span>@edu.University, @edu.Qualification ,@edu.StartedAt-@edu.FinishedAt</span>

                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w-150"><span class="font-weight-semibold">Təcrübələri</span></td>
                                                        <td><span>:</span></td>
                                                        <td class="d-flex flex-wrap">
                                                            @foreach (var exp in @item.Candidate.Experiences)
                                                            {
                                                                <span>@exp.CompanyName, @exp.Position ,@exp.StartedAt-@exp.FinishedAt</span>

                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="col-lg-6 col-xl-6 p-0">
                                                    <tr>
                                                        <td class="w-150"><span class="font-weight-semibold">E-poçt</span></td>
                                                        <td><span>:</span></td>
                                                        <td><span>@item.Candidate.Email</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w-150"><span class="font-weight-semibold">Telefon</span></td>
                                                        <td><span>:</span></td>
                                                        <td><span>@item.Candidate.Phone</span></td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                            <div class="col-lg-4 col-xl-4 p-0">
                                                <h5>Niyə mən</h5>
                                                <p>@item.WhyYou</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }

                <!--Job lists-->
            </div>

        </div>
    </div>
</section>
<!--/Job Listings-->


@section scripts{
    <script src="~/js/jquery.showmore.js"></script>
    <script src="~/js/showmore.js"></script>

}