@model CompanyViewModel
@inject IAuth _auth
	<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="~/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">Profilim</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Ana səhifə</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Profilim</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Breadcrumb-->
<!--User Dashboard-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <partial name="_CompanyPanel" />
            @if (_auth.User.Company == null)
            {
                <div class="col-xl-9 col-lg-12 col-md-12">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h3 class="card-title">Şirkət profilini yarat</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <form class="col-lg-12" style="display:flex; flex-wrap:wrap" method="post" asp-controller="companydashboard" asp-action="createcompanyprofil" enctype="multipart/form-data">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Şirkətin adı</label>
                                            <input asp-for="Name" type="text" class="form-control" placeholder="Şirkətin adı">
                                            <span class="text-danger" asp-validation-for="Name"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">E-poçt</label>
                                            <input asp-for="Email" type="email" class="form-control" placeholder="E-poçt">
                                            <span class="text-danger"  asp-validation-for="Email" ></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Telefon nömrəsi</label>
                                            <input asp-for="Phone" type="tel" class="form-control" placeholder="Telefon nömrəsi">
                                            <span class="text-danger"  asp-validation-for="Phone"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label  class="form-label">vebsayt</label>
                                            <input asp-for="Website" type="text" class="form-control" placeholder="vebsayt">
                                            <span class="text-danger" asp-validation-for="Website"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label  class="form-label">Ünvan</label>
                                            <input asp-for="Location" type="text" class="form-control" placeholder="Ünvan">
                                            <span class="text-danger" asp-validation-for="Location"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Şirkət haqqında</label>
                                            <textarea asp-for="Info" rows="5" class="form-control" placeholder="Şirkət haqqında məlumatları daxil edin"></textarea>
                                            <span class="text-danger"  asp-validation-for="Info"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <div class="custom-file">
                                            <input asp-for="Upload" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Profil şəkli seç</label>
                                            <span class="text-danger"  asp-validation-for="Upload" ></span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Şirkət profilini yarat</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            }
            else if (_auth.User.Company != null)
            {
                <div class="col-xl-9 col-lg-12 col-md-12">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h3 class="card-title">Profili redaktə et</h3>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <form class="col-lg-12" style="display:flex; flex-wrap:wrap" method="post" asp-controller="companydashboard" asp-action="editcompany" enctype="multipart/form-data">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Şirkətin adı</label>
                                            <input value="@_auth.User.Company.Name" asp-for="Name" type="text" class="form-control" placeholder="Şirkətin adı">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">E-poçt</label>
                                            <input value="@_auth.User.Company.Email" asp-for="Email" type="email" class="form-control" placeholder="E-poçt">
                                            <span class="text-danger" asp-validation-for="Email"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Telefon nömrəsi</label>
                                            <input value="@_auth.User.Company.Phone" asp-for="Phone" type="tel" class="form-control" placeholder="Telefon nömrəsi">
                                            <span class="text-danger" asp-validation-for="Phone"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">vebsayt</label>
                                            <input value="@_auth.User.Company.Website" asp-for="Website" type="text" class="form-control" placeholder="vebsayt">
                                            <span class="text-danger" asp-validation-for="Website"></span>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Ünvan</label>
                                            <input value="@_auth.User.Company.Location" asp-for="Location" type="text" class="form-control" placeholder="Ünvan">
                                            <span class="text-danger" asp-validation-for="Location"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Şirkət haqqında</label>
                                            <textarea asp-for="Info" rows="5" class="form-control editing-textarea" placeholder="Şirkət haqqında məlumatları daxil edin"></textarea>
                                            <span class="text-danger" asp-validation-for="Info"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12">

                                        <div class="custom-file">
                                            <input asp-for="Upload" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label asp-validation-for="Upload" class="custom-file-label" for="inputGroupFile01">Profil şəklini dəyiş</label>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Redaktə et</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            }
        </div>
    </div>
</section>
<!--/User Dashboard-->

@{
    var editingTxtVal = string.Empty;

    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
    if (_auth.User.Company != null)
    {

        editingTxtVal = _auth.User.Company.Info;

    }
 
};


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".changing").each((index, item) => {
                $(item).removeClass("active");
            })
            $("a[href$='/@controller']").addClass("active");

            $(".editing-textarea").html("@editingTxtVal");
        });
    </script>
}