@model JobViewModel
<!--Sliders
        Section-->
<partial name="_BreadCrumb" />
<!--/Sliders Section-->
<!--Job posts-section-->
@if (ViewBag.Job == null)
{
    <section class="sptb">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h3 class="card-title">İş elanı ver</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" asp-controller="submitjob" asp-action="createjob" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="form-label text-dark">Pozisiya</label>
                                    <input asp-for="Title" type="text" class="form-control" placeholder="Pozisiyanı daxil edin">
                                    <span class="text-danger" asp-validation-for="Title"></span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label class="form-label"> vaxt aralığı</label>
                                            <select asp-for="JobType" class="form-control select2" data-placeholder="İş aralığını seçin">
                                                <option value="2"> Full time</option>
                                                <option value="1"> Part time</option>
                                                <option value="3"> Remote</option>
                                                <option value="4"> İnternship</option>

                                            </select>
                                            <span class="text-danger" asp-validation-for="JobType"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label class="form-label"> Kateqoriya</label>
                                            <select asp-for="CategoryId" class="form-control select2">
                                                @foreach (Category category in ViewBag.Categories)
                                                {
                                                    <option value="@category.Id">@category.Name</option>
                                                }
                                            </select>
                                            <span class="text-danger" asp-validation-for="CategoryId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group m-0">
                                            <div class="row gutters-xs">
                                                <div class="col-6">
                                                    <label class="form-label text-dark">minimum maaş</label>
                                                    <input value="0" asp-for="MinSalary" type="number" step="100" class="form-control" placeholder="minimum">
                                                    <span class="text-danger" asp-validation-for="MinSalary"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label text-dark">maksimum maaş</label>
                                                    <input value="0" asp-for="MaxSalary" type="number" step="100" class="form-control" placeholder="maksimum">
                                                    <span class="text-danger" asp-validation-for="MaxSalary"></span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <div class="row gutters-xs">
                                                <div class="col-6">
                                                    <label class="form-label text-dark">minimum təcrübə</label>
                                                    <select asp-for="MinExperience" class="form-control select2-no-search custom-select">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="MinExperience"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label text-dark">maksimum təcrübə</label>
                                                    <select asp-for="MaxExperience" class="form-control select2-no-search custom-select">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="MaxExperience"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label class="form-label"> Şəhər</label>
                                            <select asp-for="City" class="form-control select2" data-placeholder="Şəhər seçin">
                                                <option value="Bakı"> Bakı</option>
                                                <option value="Ağsu"> Ağsu</option>
                                                <option value="Babək"> Babək</option>
                                                <option value="Cəlilabad"> Cəlilabad</option>
                                                <option value="Daşkəsən"> Daşkəsən</option>
                                                <option value="Gəncə"> Gəncə</option>
                                                <option value="Mingəçevir"> Mingəçevir</option>
                                                <option value="Qazax"> Qazax</option>
                                                <option value="Qax"> Qax</option>
                                                <option value="Quba"> Quba</option>
                                                <option value="Qusar"> Qusar</option>
                                                <option value="Yevlax">Yevlax</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="City"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label class="form-label"> ünvan</label>
                                            <input asp-for="Address" type="text" class="form-control" placeholder="Ünvan">
                                            <span class="text-danger" asp-validation-for="Address"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-dark">
                                    <label class="form-label text-dark">Əlavə məlumatlar</label>
                                    <textarea class="form-control" asp-for="Description" placeholder="iş haqqında əlavə məlumatları daxil edin"></textarea>
                                    <span class="text-danger" asp-validation-for="Description"></span>
                                </div>
                                <div class="card-footer bg-light-50">
                                    <button type="submit" class="btn btn-success ">Təsdiqlə</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
}
else
{
    <section class="sptb">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h3 class="card-title">Elanı redaktə et</h3>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title mb-3">iş detalları </h3>
                            <form method="post" asp-controller="submitjob" asp-action="editjob" asp-route-JobId="@ViewBag.Job.Id" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="form-label text-dark">Pozisiya</label>
                                    <input value="@ViewBag.Job.Title" asp-for="Title" type="text" class="form-control" placeholder="Pozisiyanı daxil edin">
                                    <span class="text-danger" asp-validation-for="Title"></span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label class="form-label">Tip</label>
                                            <select asp-for="JobType" class="form-control select2-show-search" data-placeholder="Choose one (with searchbox)">
                                                <option value="1">Full ime</option>
                                                <option value="2">Part time</option>
                                                <option value="3"> Remote</option>
                                                <option value="4">Internship</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="JobType"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label asp-validation-for="CategoryId" class="form-label"> Kateqoriya</label>
                                            <select value="@ViewBag.Job.Category.Name" asp-for="CategoryId" class="form-control select2-show-search">
                                                @foreach (Category category in ViewBag.Categories)
                                                {
                                                    <option value="@ViewBag.Job.Category.Id" selected>@ViewBag.Job.Category.Name</option>
                                                    <option value="@category.Id">@category.Name</option>
                                                }
                                            </select>
                                            <span class="text-danger" asp-validation-for="CategoryId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group m-0">
                                            <div class="row gutters-xs">
                                                <div class="col-6">
                                                    <label class="form-label text-dark">Minimum maaş</label>
                                                    <input min="0" value="@ViewBag.Job.MinSalary" asp-for="MinSalary" type="number" step="100" class="form-control" placeholder="minimum">
                                                    <span class="text-danger" asp-validation-for="MinSalary"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label text-dark">Maksimum maaş</label>
                                                    <input min="0" value="@ViewBag.Job.MaxSalary" asp-for="MaxSalary" type="number" step="100" class="form-control" placeholder="maksimum">
                                                    <span class="text-danger" asp-validation-for="MaxSalary"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <div class="row gutters-xs">
                                                <div class="col-6">
                                                    <label class="form-label text-dark">Minimum təcrübə</label>
                                                    <select value="@ViewBag.Job.MinExperience" asp-for="MinExperience" class="form-control select2-no-search custom-select">
                                                        <option value="@ViewBag.Job.MinExperience" selected>@ViewBag.Job.MinExperience</option>
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="MinExperience"></span>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label text-dark">Maksimum təcrübə</label>
                                                    <select asp-for="MaxExperience" class="form-control select2-no-search custom-select">
                                                        <option value="@ViewBag.Job.MaxExperience" selected>@ViewBag.Job.MaxExperience</option>
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="MaxExperience"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label class="form-label"> Şəhər</label>
                                            <select asp-for="City" class="form-control select2-show-search" data-placeholder="Choose one (with searchbox)">
                                                <option value="@ViewBag.Job.City" selected>@ViewBag.Job.City</option>
                                                <option value="Bakı"> Bakı</option>
                                                <option value="Ağsu"> Ağsu</option>
                                                <option value="Babək"> Babək</option>
                                                <option value="Cəlilabad"> Cəlilabad</option>
                                                <option value="Daşkəsən"> Daşkəsən</option>
                                                <option value="Gəncə"> Gəncə</option>
                                                <option value="Mingəçevir"> Mingəçevir</option>
                                                <option value="Qazax"> Qazax</option>
                                                <option value="Qax"> Qax</option>
                                                <option value="Quba"> Quba</option>
                                                <option value="Qusar"> Qusar</option>
                                                <option value="Yevlax">Yevlax</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="City"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group text-dark">
                                            <label class="form-label"> ünvan</label>
                                            <input value="@ViewBag.Job.Address" asp-for="Address" type="text" class="form-control" placeholder="Ünvan" required>
                                            <span class="text-danger" asp-validation-for="Address"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-dark">
                                    <label class="form-label text-dark">Əlavə məlumatlar</label>
                                    <textarea class="form-control edited-txt" asp-for="Description"  placeholder="iş haqqında əlavə məlumatları daxil edin">@ViewBag.Job.Description</textarea>
                                    <span class="text-danger" asp-validation-for="Address"></span>
                                </div>
                                <div class="card-footer bg-light-50">
                                    <button type="submit" class="btn btn-success ">Redaktə et</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
}
@{
    var editedTxtVal = string.Empty;
    if (ViewBag.Job != null)
    {
        editedTxtVal = ViewBag.Job.Description;
        
    }
}
<!--/Job posts-section-->
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".edited-txt").html("@editedTxtVal");
        })
    </script>
}
