@inject IAuth _auth
<div class="col-xl-3 col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Profilim</h3>
        </div>
        <div class="card-body text-center item-user border-bottom">

            @if (_auth.User.Company != null)
            {
                if (_auth.User.Company.Photo != null)
                {
                    <div class="profile-pic">
                        <div class="profile-pic-img">
                            <span class="bg-success dots" data-toggle="tooltip" data-placement="top" title="online"></span>
                            <img src="~/images/@_auth.User.Company.Photo" class="brround mh-100" alt="user">
                        </div>
                        <div class="text-dark">
                            <h4 class="mt-3 mb-0 font-weight-semibold"> @_auth.User.Company.Name</h4>
                            <p class="mt-3 mb-0 font-weight-semibold"> @_auth.User.Fullname</p>
                        </div>
                    </div>

                }
                else if (_auth.User.Company.Photo == null)
                {
                    <div class="profile-pic">
                        <div class="profile-pic-img">
                            <span class="bg-success dots" data-toggle="tooltip" data-placement="top" title="online"></span>
                            <img src="~/images/companyavatar.png" class="brround mh-100" alt="user">
                        </div>

                        <div class="text-dark">
                            <h4 class="mt-3 mb-0 font-weight-semibold"> @_auth.User.Company.Name</h4>
                            <p class="mt-3 mb-0 font-weight-semibold"> @_auth.User.Fullname</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="profile-pic">
                    <div class="profile-pic-img">
                        <span class="bg-success dots" data-toggle="tooltip" data-placement="top" title="online"></span>
                        <img src="~/images/companyavatar.png" class="brround mh-100" alt="user">
                    </div>
                    <div class="text-dark">
                        <h4 class="mt-3 mb-0 font-weight-semibold"> @_auth.User.Fullname</h4>
                    </div>
                </div>
            }
        </div>
        @if (_auth.User.Company != null)
        {
            <div class="item1-links  mb-0">
                <a asp-controller="companydashboard" asp-action="index" class="active d-flex border-bottom changing">
                    <span class="icon1 mr-2"><i class="fas fa-edit fs-16"></i></span> Prodili redaktə et
                </a>
                <a asp-controller="companyjobs" asp-action="index" class=" d-flex border-bottom changing">
                    <span class="icon1 mr-2"><i class="fas fa-briefcase fs-16"></i></span> Elanlarım
                </a>
                <a asp-controller="submitjob" asp-action="index" class="d-flex border-bottom changing">
                    <span class="icon1 mr-2"><i class="fas fa-plus-square fs-16"></i></span> İş elanı ver
                </a>
                <a asp-controller="account" asp-action="logout" class="d-flex changing">
                    <span class="icon1 mr-2"><i class="fas fa-power-off fs-16"></i></span> Çıxış
                </a>
            </div>
        }
        else
        {
            <div class="item1-links  mb-0">

                <a asp-controller="companydashboard" asp-action="index" class="active d-flex border-bottom changing">
                    <span class="icon1 mr-2"><i class="fas fa-edit fs-16"></i></span> Profilini yarat
                </a>
                <a asp-controller="account" asp-action="logout" class="d-flex changing">
                    <span class="icon1 mr-2"><i class="fas fa-power-off fs-16"></i></span> Çıxış
                </a>
            </div>
        }

    </div>
</div>