@model SearchViewModel
@inject IRelativeTime relativeTime

@{
    ViewData["Title"] = "Home Page";
}

<!--Sliders Section-->
<section>
    <div class="banner1  relative slider-images">
        <div class="container-fuild">
            <!-- Carousel -->
            <div class="owl-carousel testimonial-owl-carousel2 slider slider-header ">
                <div class="item cover-image" data-image-src="">
                    <img alt="first slide" src="~/images/banners/slide-1.jpg">
                </div>
                <div class="item">
                    <img alt="first slide" src="~/images/banners/silde-2.jpg">
                </div>
                <div class="item">
                    <img alt="first slide" src="~/images/banners/slide-3.jpg">
                </div>
            </div>
            <div class="header-text slide-header-text  pt-4 pb-4 my-auto">
                <div class="col-xl-8 col-lg-8 col-md-8 d-block mx-auto">
                    <div class="input-field">
                        <div class="text-center text-white  mb-5 ">
                            <h1 class="mb-1">Sənin üçün ən yaxşı işi tap</h1>
                            <p class="d-none d-md-block">səhifəmizdəki işlərdən özün üçün ən uyğunlarını gör</p>
                        </div>
                        <div class="search-background bg-transparent">
                            <form class="form row no-gutters " method="post" enctype="multipart/form-data" asp-controller="searchjob" asp-action="index">
                                <div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white ">
                                    <input asp-for="KeyWord" type="text" class="form-control input-lg br-tr-md-0 br-br-md-0" id="text4" placeholder="İş adı yaz">
                                </div>
                                <div class="form-group  col-xl-3 col-lg-3 col-md-12 mb-0 bg-white">
                                    <input asp-for="Location" type="text" class="form-control input-lg br-md-0" id="text5" placeholder="Ərazi adı yaz">
                                    <span><img src="https://www.spruko.com/demo/rejoin/assets/images/svg/gps.svg" class="location-gps"></span>
                                </div>
                                <div class="form-group col-xl-3 col-lg-3 col-md-12 select2-lg  mb-0 bg-white">
                                    <select class="form-control select2-show-search  border-bottom-0" data-placeholder="Kateqoriya seç">
                                        <optgroup label="Kateqoriyalar">
                                            <option value="0">Bütün Kateqoriyalar</option>
                                            @foreach (Category item in ViewBag.Categories)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-12 mb-0">
                                    <button class="btn btn-lg btn-block btn-secondary br-tl-md-0 br-bl-md-0"><i class="fa fa-search mr-1"></i>Axtarış et</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /header-text -->
        </div>
    </div>
</section>
<!--Sliders Section-->
<!--Categories-->
@if (ViewBag.Categories != null)
{
    <section class="sptb bg-white">
        <div class="container">
            <div class="section-title center-block text-center">
                <h2>Kateqoriyalar</h2>
                <p>İşləri daha rahat tapmanız üçün kateqoriyalar</p>
            </div>
            <div class="row">
                @foreach (Category item in ViewBag.Categories)
                {
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">
                            <div class="item-card">
                                <div class="item-card-desc">
                                    <a asp-controller="searchjob" asp-action="index" asp-route-CategoryId="@item.Id"></a>
                                    <div class="item-card-img">
                                        <img src="~/images/@item.Photo" style="height:208px" alt="img" class="br-tr-7 br-tl-7">
                                    </div>
                                    <div class="item-card-text">
                                        <h4 class="mb-0">@item.Name işləri<span>@item.Jobs.Count</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>

}

<!--/Categories-->
<!--Latest Jobs-->
@if (ViewBag.LatestJobs != null)
{
    <section class="sptb">
        <div class="container">
            <div class="section-title center-block text-center">
                <h1>Yeni elanlar</h1>
                <p>Ən son verilən elanları gör</p>
            </div>
            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="index1">
                            <div class="row">
                                @{ int JobsCount = 0; }
                                @foreach (Job item in ViewBag.LatestJobs)
                                {
                                    if (JobsCount < 6)
                                    {
                                        <div class="col-xl-4 col-md-6">
                                            <div class="card overflow-hidden">
                                                <div class="card-body">
                                                    <div class="item-card7-desc">
                                                        <div class="item-card7-text">
                                                            <a asp-controller="jobdetails" asp-action="index" asp-route-jobid="@item.Id" class="text-dark">
                                                                <h4 class="font-weight-semibold">@item.Title</h4>
                                                            </a>
                                                        </div>
                                                        <p class="mb-0">@item.Description</p>
                                                    </div>
                                                </div>
                                                <div class="card-body py-2">
                                                    <a href="mr-4.html" class="icons font-weight-semibold text-body">
                                                        <i class="fa fa-usd  text-muted mr-1"></i>
                                                        @item.MinSalary ₼-@item.MaxSalary ₼
                                                    </a>
                                                    <a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>@item.JobType</a>
                                                </div>
                                                <div class="card-body py-2">
                                                    <div class="d-flex align-items-center mt-auto">
                                                        <img src="~/images/@item.Company.Photo" class="avatar brround avatar-md mr-2" alt="avatar-img">
                                                        <div>
                                                            <a asp-controller="companydetail" asp-action="index" class="text-default fs-13">@item.Company.Name</a>
                                                            <small class="d-block text-muted">
                                                                @relativeTime.Time(item.CreatedAt)
                                                            </small>
                                                        </div>
                                                        <div class="ml-auto text-muted">
                                                            <a asp-controller="jobdetails" asp-action="index" asp-route-jobid="@item.Id" class="btn btn-sm btn-secondary text-white">Daha ətraflı</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        JobsCount++;
                                    }
                                    else if (JobsCount >= 6)
                                    {
                                        <div class="col-xl-4 col-md-6 d-none jobs-count">
                                            <div class="card overflow-hidden">
                                                <div class="card-body">
                                                    <div class="item-card7-desc">
                                                        <div class="item-card7-text">
                                                            <a asp-controller="jobdetails" asp-action="index" asp-route-jobid="@item.Id" class="text-dark">
                                                                <h4 class="font-weight-semibold">@item.Title</h4>
                                                            </a>
                                                        </div>
                                                        <p class="mb-0">@item.Description</p>
                                                    </div>
                                                </div>
                                                <div class="card-body py-2">
                                                    <a href="mr-4.html" class="icons font-weight-semibold text-body">
                                                        <i class="fa fa-usd  text-muted mr-1"></i>
                                                        @item.MinSalary ₼-@item.MaxSalary ₼
                                                    </a>
                                                    <a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>@item.JobType</a>
                                                </div>
                                                <div class="card-body py-2">
                                                    <div class="d-flex align-items-center mt-auto">
                                                        <img src="~/images/@item.Company.Photo" class="avatar brround avatar-md mr-2" alt="avatar-img">
                                                        <div>
                                                            <a asp-controller="companydetail" asp-action="index" class="text-default fs-13">@item.Company.Name</a>
                                                            <small class="d-block text-muted">
                                                                @relativeTime.Time(item.CreatedAt)
                                                            </small>
                                                        </div>
                                                        <div class="ml-auto text-muted">
                                                            <a asp-controller="jobdetails" asp-action="index" asp-route-jobid="@item.Id" class="btn btn-sm btn-secondary text-white">Daha ətraflı</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        JobsCount++;
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn  btn-primary show-more-jobs toggle-jobs text-white"> Daha çox göstər</a>
                </div>
            </div>
        </div>
    </section>
}
<!--/Latest Jobs-->
<!--Statistics-->
<section>
    <div class="about-1 cover-image bg-background-color" data-image-src="~/images/banners/banner5.jpg">
        <div class="content-text mb-0 text-white info">
            <div class="container">
                <div class="row text-center no-gutters">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status md-mb-0 sptb bg-black-transparent-1 mt-5 mt-md-0">
                            <div class="counter-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <h5>Üzv</h5>
                            <h2 class="counter mb-0">@ViewBag.Users.Count</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status-1 md-mb-0 sptb bg-black-transparent-2">
                            <div class="counter-icon text-warning">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <h5>İş</h5>
                            <h2 class="counter mb-0">@ViewBag.Jobs.Count</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status md-mb-0 sptb bg-black-transparent-1">
                            <div class="counter-icon text-primary">
                                <i class="fa fa-building"></i>
                            </div>
                            <h5>Şirkət</h5>
                            <h2 class="counter mb-0">@ViewBag.Companies.Count</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status sptb bg-black-transparent-2">
                            <div class="counter-icon text-success">
                                <i class="far fa-smile"></i>
                            </div>
                            <h5>Namizəd</h5>
                            <h2 class="counter mb-0">@ViewBag.Candidates.Count</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Statistics-->
<!--Latest Candidates-->
@if (ViewBag.TopCandidates != null)
{
    <section class="sptb bg-white">
        <div class="container">
            <div class="section-title center-block text-center">
                <h1>Ən təcrübəli namizədlər</h1>
                <p>Sənə uyğun olabiləcək namizədləri gör</p>
            </div>
            <div class="owl-carousel owl-carousel-icons2">
                @foreach (Candidate item in ViewBag.TopCandidates)
                {
                    <div class="item">
                        <div class="card mb-0">
                            <div class="card-body">
                                @if (item.Photo != null)
                                {
                                    <img src="~/images/@item.Photo" alt="img" class=" avatar avatar-xxl brround mx-auto">
                                }
                                else
                                {
                                    <img src="~/images/service_default_avatar_182956.png" alt="img" class=" avatar avatar-xxl brround mx-auto">
                                }
                                <div class="item-card2">
                                    <div class="item-card2-desc text-center">
                                        <div class="item-card2-text mt-3">
                                            <a href="company-list.html" class="text-dark">
                                                <h4 class="font-weight-bold">@item.Name @item.Lastname</h4>
                                            </a>
                                        </div>
                                        <p class="">@item.Profession (@item.ExperienceTime il)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="product-filter-desc">
                                    <div class="product-filter-icons text-center">
                                        <p class="border p-0"><i class="fa fa-phone"></i> @item.Phone</p>
                                        <p class="border  p-0"><i class="fa fa-envelope"></i> @item.Email</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
}
<!--Latest Candidates-->
